<div class="panel panel-default">
  <div class="panel-body">
    {{yield}}
  </div>
  <div class="panel-footer">
    <var>x:</var> <var>{{x}}</var>
    <var>y:</var> <var>{{y}}</var>
  </div>
</div>

