@import 'bootstrap';
@import 'pulse';

html {
  overflow-y: scroll;
}

body {
  padding-top: 10px;
}

.drawing-area {
  background-color: $gray-lighter;
  position: relative;
  z-index: -10;
  cursor: crosshair;
}

.btn-delete {
  position: fixed;
  right: 5px;
  top: 5px;
}

.pulse-circle-container {
  fill: none;
  stroke: #398FBD;
  position: fixed;
  width: 100%;
  height: 100%;
}
